.container{
    height:70vh;
    
    background:linear-gradient(180deg,#0E46A3,#E1F7F5 60%);
    display: flex;
}
.left_container{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left:180px ;
    line-height: 1.1;
}
.left_container h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.right_container{
    flex: 1;
    display: flex;
    margin-top: 10rem;
   
}
.right_container img{
    width: 350px;
    height: 300px;
    border-radius: 100%;
}
